
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@1,200&display=swap');
body{
  background-color: 	#cde2ee;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: .3 ease;
}

:root{
  --inputColor: hsl(330,12%,97%);
  --greyText: hsl(190,190,190);
  --blackColor: hsl(0,0%,19%);
  --textColor: hsl(240,1%,48%);
  --bgColor: hsl(220,10%,94%);


  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}
.icon{
  font-size: var(--h2FontSize);
}
img{
  width: 100%;
  height: auto;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color: black;

}

.btn .icon{
  margin-left: .5rem;
}
.btn:hover{
  background: var(--inputColor);
  color: var(--inputColor);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container{
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--inputColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}



